.painting-info {
    text-align: center;
}

.index-button {
    background-color: #64CCC5;
    font-size: 1em;
    padding: 10px;
    margin-right: 10px;
    border-radius: 7px;
}

.back-to-galerie-button {
    background-color: #176B87;
    color: white;
    font-size: 1em;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 7px;
}

.add-to-cart-button {
    background-color: #053B50;
    color: white;
    font-size: 1em;
    padding: 10px;
    border-radius: 7px;
}

.edit-painting-button {
    background-color: #053B50;
    color: white;
    font-size: 1em;
    padding: 10px;
    border-radius: 7px;
}

.row-of-buttons {
    margin-bottom: 50px;
}